
.parallax-effect-img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-image: url("https://th.bing.com/th/id/OIP.Mo3m4FuzFOyad374u826yQHaKW?pid=Api&rs=1");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.over{
  background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}
.parallax-effect-img:hover .over{
  background: rgba(0, 0, 0, 0.5);
}
.inner-element {
    transform:translate(-50%,-50%) translateZ(40px) scale(0.8);
    position: absolute;
    text-shadow: 2px 2px 2px black;
    color: var(--main-color-combo);
    width: 100%;
    text-align: center;
  }
  .inner-element:nth-child(1){
    top: 80%;
    left: 50%;
    font-size: 3rem;
    /* border: 2px solid var(--main-color-combo); */
    border-radius: 35px;
    transition: all .5s ease;
  }
  .inner-element:nth-child(2){
    top: 90%;
    left: 50%;
    font-size: 20px;
    margin: 0!important;
  }

  .parallax-effect-img:hover .inner-element:nth-child(1){
    background-color: var(--main-color-combo);
    border: 2px solid var(--main-color);
    color: var(--main-color);
  }