.pre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.square{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #925526;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s ease;
    animation: animate 10s linear infinite;
}
.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #925526;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s ease;
    animation: animate2 4s linear infinite;
}
.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #925526;
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s ease;
    animation: animate 7s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.preloader{
    height: 70px;
    width: 70px;
    animation: animate3 15s linear infinite;
}
@keyframes animate3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}